.price-breakdown-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.price-breakdown-table_row {
  text-align: left;
}

.price-breakdown-table_row-details {
  display: grid;
  grid-template-columns: 80% auto;
}

.price-breakdown-table_row-list,
.price-breakdown-table_row-details {
  margin: 0.5rem 0;
}

.price-breakdown-table_row-details :nth-child(2) {
  justify-self: flex-end;
}

.price-breakdown-table_total-price {
  align-self: center;
}

@media screen and (min-width: 426px) {
  .price-breakdown-table {
    min-width: 400px;
  }
}