.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-group.align-center {
  justify-content: center;
}

.button-group.align-left {
  justify-content: left;
}

.button-group.align-right {
  justify-content: right;
}

@media screen and (min-width: 426px) {
  .button-group {
    flex-direction: row;
  }

  .button-group > :not(:first-child){
    margin-left: 1rem;
  }
}